<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('../partials/header'); %></header>

    <main>
      <div class="row">
        <div class="col-sm-12">
          <div class="jumbotron">
            <h1 class="text-center">Calculate Cart Averages</h1>
            <form
              class="d-flex justify-content-center align-items-center"
              method="POST"
              action="/load-data"
            >
              <button
                class="pl-4 pr-4 btn btn-primary"
                type="submit"
                name="load-data"
              >
                Load
              </button>
            </form>
            <% if (locals.showAverage && locals.averages) { %>
            <h3>Average Cart Prices:</h3>
            <div class="row d-flex align-items-center">
              <% Object.keys(locals.averages).forEach(function(key) { %>
              <div class="card col-sm-4" style="scale: 0.99">
                <img
                  style="width: 18em"
                  class="card-img-top"
                  src="https://static.vecteezy.com/system/resources/previews/004/999/463/original/shopping-cart-icon-illustration-free-vector.jpg"
                  alt="Card image cap"
                />
                <div class="card-body">
                  <h5 class="card-title">Cart <%= key %></h5>
                  <p class="card-text">Average: <%= locals.averages[key] %></p>
                </div>
              </div>
              <% }); %> <% } %>
            </div>
          </div>
        </div>
      </div>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
